body {
  padding: 60px 60px 60px 60px;
  font-family: "Comic Sans MS", fantasy;
}

p {
  font-size: 2.8em;
  font-weight: 800;
}

.chunk {
  display: inline-flex;
  width: 100%;
  vertical-align: middle;
}

.timeBlock {
  /* display: inline-block; */
  vertical-align: middle;
  height: 100%;
  width: 80%;
}

.paulFace {
  /* display:inline-block; */
  text-align: center;
  width: 20%;
  height: 100%;
  z-index: -100;
}

.footer {
  text-align: center;
}
